<div class="container">
  <!---- Seccion de productos (componentes stateless)-->
  <section class="section">
    <h1 class="title">PRODUCTS</h1>
    <div class="columns">
      <div class="column" *ngFor="let item of modeloTienda.tiendaItems">
        <!-----  ------>
<app-sin-estado [producto]="item"  ></app-sin-estado>

        <!-----  ------>
      </div>
    </div>
  </section>
  <section>
  	<li *ngFor="let itemComprado of itemsComprados">
  		{{ itemComprado.titulo }}
  	</li>
  </section>
</div>